@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@300;400&display=swap');

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* --------------------------- General */

a {
    text-decoration: none;
    color: black;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.page-footer {
    color: #bfbfbf;
}

img {
    border-radius: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.content-wrap {
    padding-bottom: 325px;
}

/* --------------------------- Colors */

.nav-bg-color {
    background-color: #212121;
}

.off-white {
    background-color: #fafafa;
}

.footer-bg-color {
    background-color: #000000;
}

.book-call-bg-color {
    background-color: #212121;
}

/* ------------------------------------------------------- HOME PAGE */
/* --------------------------- Hero section */

#hero-section {
    position: relative;
}

.hero-section-inner {
    height: 100%;
    position: relative;
}

.hero-text-row {
    margin-left: 0;
}

.hero-text-row h2 {
    font-size: 5rem;
    font-weight: 800;
    background-image: url('../images/daw.jpg');
    background-size: cover;
    
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#hero-section {
    height: calc(100vh - 56px);
}

.hero-section-bottoms {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 10px;
}

.hero-section-bottoms div p {
    font-size: large;
}

/* --------------------------- Testimonial section */

.testimonial-row .testimonial-image {
    padding: 0;
}

.testimonials-inner div h2 {
    margin-top: 0;
    padding-top: 2.3733333333rem;
}

.testimonial-image {
    width: 100%;
}

#artist-testimonials-larger {
    padding-bottom: 20px;
}

#artist-testimonials-mobile {
    padding-bottom: 30px;
}

/* --------------------------- Carousel section */

.carousel {
    height: 420px;
}

.carousel .carousel-item {
    width: 300px !important;
}

/* --------------------------- Book call section */

.book-call-btn {
    margin: 20px 0px;
    background-color: #fafafa;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.book-call-btn:hover {
    opacity: 0.7;
    background-color: #fafafa;
}

#services p {
    color: #fafafa;
    font-size: large;
}

/* ------------------------------------------------------- BOOKING PAGE */

.book-no-auth {
    height: calc(100vh - 293px);
}

#booking-page-headline > div > h2 {
    margin-top: 0;
    padding-top: 5%;
}


.form-submit-btn {
    background-color: #fafafa;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 7%;
}

.form-submit-btn:hover {
    opacity: 0.7;
    background-color: #fafafa;
}

/* --------------------------- Login + Signup Pages */

.login_content {
    height: calc(100vh - 229px);
}

.register_content {
    height: 969px;
}

/* --------------------------- Appointments Page */

.appointment-display{
    border: #000000 1px solid;
    padding-left: 30px;
}

/* --------------------------- About Page */

.about-para {
    text-align: justify;
}

.about-portrait {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

@media screen and (min-width: 993px){
    .about-portrait {
        height: 500px;
    }
}

/* --------------------------- Utility */

.remove-bottom-margin {
    margin-bottom: 0;
}

.remove-margin {
    margin: 0;
}

