{% extends 'base.html' %}
{% block title %} About | Tom Holohan Audio {% endblock %}
{% load static %}
{% block content %}
<div id="about-container" class="container">
    <h3>About</h3>
    <div class="row">
        <div class="col s12 about-para">
            <p>
                Tom Holohan is a music producer, mix/master engineer and songwriter from Dublin, Ireland. Now based in
                London, Tom has had the pleasure to work with a wide range of acts in all facets of their projects.
            </p>
            <br>
            <p>
                After completing a Bachelors degree in Music Production from Pulse College in Dublin, Tom relocated to
                London to continue is endeavours into music, working alongside artists in many styles (metal, pop, rock,
                electronic, hip-hop and more) to create art they can be proud of. Tom also operates under the name <a href="https://open.spotify.com/artist/64uA1WO40WSspFUnUYirSt?si=O7nvUhFfRxmFM4ai7GvETA" class="links"><strong>Hollow</strong></a>,
                creating a blend of pop-punk, metal and pop that pushes the limits of genre.
            </p>
        </div>
        <div class="col s12">
            <img src="{% static 'images/tom_portrait.jpg' %}" alt="Tom Holohan, Producer" class="about-portrait">
        </div>
    </div>
</div>
{% endblock %}