{% extends 'base.html' %}
{% block title %} Submissions | Tom Holohan Audio {% endblock %}
{% load static %}
{% block content %}
{% if user.is_superuser %}
    <div class="container">
        <h3>
            Appointments
        </h3>
        <div class="row">
            {% for a in appointments %}
            <div class="appointment-display col s12 m6">
                    <p>{{ a.first_name }} {{ a.last_name }}</p>
                    <a href="{{ a.file_link }}">Stems/Stereo File</a>
                    <p>Email: {{ a.email }}</p>
                    <p>Message: {{ a.message }}</p>
                <!-- <br> -->
            </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="container">
        <h1>
            You are not an admin!
        </h1>
        <p>
            You have insufficient privileges to access this page. 
        </p>
        <br>
        <p><a href="{% url 'home' %}">Return Home</a></p>
    </div>
{% endif %}
{% endblock %}
