{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="page-container">
        <div class="content-wrap gradient-palette-color">

            {% if messages %}
                {% for message in messages %}
                <div class="container messages">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}

            <header>
                <nav class="darkblue-palette-color">
                    <div class="nav-wrapper container">
                        <a href="{% url 'home' %}" class="brand-logo">Th Audio</a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                                class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'submit' %}">Submit</a></li>
                            {% if user.is_authenticated %}
                                <!-- Displays the link to the submissions page only to an admin -->
                                {% if user.is_superuser %}
                                    <li><a href="{% url 'submissions' %}">Submissions</a></li>
                                {% endif %}
                                <li><a href="{% url 'profile' %}">Profile</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                                <li><a href="{% url 'login' %}">Login</a></li>
                                <li><a href="{% url 'signup' %}">Signup</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>

                <!-- Sidenav is activated on mobile devices. -->
                <ul class="sidenav" id="mobile-demo">
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'submit' %}">Submit</a></li>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <li><a href="{% url 'submissions' %}">Submissions</a></li>
                        {% endif %}
                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>

            </header>            

            {% block content %}
            {% endblock %}

            <footer class="page-footer black-palette-color">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="white-text">Tom Holohan Audio</h5>
                            <p class="grey-text text-lighten-4">Music Producer, Mix/Master Engineer, Songwriter.</p>
                        </div>
                        <div class="col l4 offset-l2 s12">
                            <h5 class="white-text">Follow Tom.</h5>
                            <ul>
                                <li><a class="grey-text text-lighten-3" href="https://facebook.com" target="_blank"><i
                                            class="fab fa-facebook"></i></a></li>
                                <li><a class="grey-text text-lighten-3" href="https://instagram.com/holoh.an" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                                <li><a class="grey-text text-lighten-3" href="https://twitter.com/hollownotempty" target="_blank"><i
                                            class="fab fa-twitter-square"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container center">
                        © 2021 Tom Holohan Audio
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>