{% extends 'base.html' %}
{% block title %} Submit Your Stems | Tom Holohan Audio {% endblock %}
{% load materializecss %}

{% block content %}
{% if user.is_authenticated %}

    <div id="booking-content-container">
        <div id="booking-page-headline">
            <div class="booking-page-headline-inner container">
                <h2>
                    Submit Your Stems
                </h2>
                <p>
                    Submit your music here for a mix/master, please provide a reference mix if possible (this can be a
                    rough mix you have already done of the song or a link to a song you like the sound of). Please
                    submit stems using a Google Drive or Dropbox link!
                </p>
            </div>
        </div>

        <div id="form-container">
            <div class="form-container-inner container">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form|materializecss}}
                    <button class="btn waves-effect waves-light form-submit-btn" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
    </div>

{% else %}

<div id="booking-content-container" class="book-no-auth">
    <div id="booking-page-headline">
        <div class="booking-page-headline-inner container">
            <h2>
                Book A Call
            </h2>
        </div>
    </div>

    <div id="form-container">
        <div class="form-container-inner container">
            <p><a href="{% url 'login' %}"><strong>Log In</strong></a> or <a href="{% url 'signup' %}"><strong>Sign Up</strong></a> now to book a call!</p>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}
