{% extends 'base.html' %}
{% block title %} Edit Submission | Tom Holohan Audio {% endblock %}
{% load materializecss %}

{% block content %}

<div id="booking-content-container">
    <div id="booking-page-headline">
        <div class="booking-page-headline-inner container">
            <h2>
                Edit Your Submission
            </h2>
        </div>
    </div>

    <div id="form-container">
        <div class="form-container-inner container">
            <form method="POST">
                {% csrf_token %}
                <!-- Materialize styles the model form automatically using django-materializecss-form -->
                {{form|materializecss}}
                <button class="btn waves-effect waves-light form-submit-btn" type="submit" name="action">Update
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}