{% extends 'base.html' %}

{% block content %}
<div id="hero-section">
    <div class="container">
        <div class="row hero-text-row">
            <h2 class="col s8">Bring your ideas to life.</h2>
        </div>
        <div class="row remove-bottom-margin">
            <p class="center">Book a call.</p>
        </div>
        <div class="row ">
            <div class="center">
                <i class="material-icons">keyboard_arrow_down</i>
            </div>
        </div>
    </div>
</div>
<div id="book-call-section" class="book-call-bg-color">
    <div class="container">
        <div class="center">
            <a class="waves-effect waves-light btn book-call-btn">Book A Call</a>
        </div>
    </div>
</div>
{% endblock %}
