{% extends 'base.html' %}

{% block content %}
<div id="hero-section" class="hero-section-bg-color">
    <div class="hero-section-inner container valign-wrapper">
        <div class="row hero-text-row">
            <h2 class="col s6 left-align">Bring your ideas to life.</h2>
        </div>
        <div class="hero-section-bottoms">
            <div class="row remove-bottom-margin hero-sub-text-row">
                <p class="center flow-text">Book a call.</p>
            </div>
            <div class="row remove-bottom-margin">
                <div class="center">
                    <a href="#book-call-section"><i class="material-icons">keyboard_arrow_down</i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="book-call-section" class="book-call-bg-color">
    <div class="container">
        <div id="services" class="row remove-bottom-margin hide-on-small-only">
            <div class="col s4 center">
                <p class="flow-text">SONGWRITING <i class="fas fa-music"></i></p>
            </div>
            <div class="col s4 center">
                <p class="flow-text">MIXING <i class="fab fa-mix"></i></p>
            </div>
            <div class="col s4 center">
                <p class="flow-text">MASTERING <i class="fas fa-compact-disc"></i></p>
            </div>
        </div>
        <div class="center">
            <a class="waves-effect waves-light btn book-call-btn" href="{% url 'booking' %}">Book A Call</a>
        </div>
    </div>
</div>

<div id="artist-testimonials" class="artist-testimonials-bg-color">

    <div id="artist-testimonials-mobile" class="testimonials-inner container hide-on-med-and-up">
        <div class="row">
            <h2 class="left-align">Artist Testimonials</h2>
        </div>

        <div class="row testimonial-row">
            <img src="media/midoca.jpg" alt="Midoca, recording artist." class="z-depth-2 col s8 testimonial-image">
            <div class="testimonial-text col s4">
                <div>
                    <p class="right-align remove-margin">"Tom helped me develop a new sound for my project, couldn't
                        have done it without him!"</p>
                    <p class="right-align remove-bottom-margin">- Midoca</p>
                </div>
            </div>
        </div>

        <div class="row testimonial-row">
            <div class="testimonial-text col s4">
                <div>
                    <p class="left-align remove-margin">"Tom was able to write and programme drums for us in no time.
                        Highly Recommend. "</p>
                    <p class="left-align remove-bottom-margin">- Below Human</p>
                </div>
            </div>
            <img src="media/below_human.jpg" alt="Below Human, metalcore band."
                class="testimonial-image z-depth-2 col s8">
        </div>

        <div class="row testimonial-row">
            <img src="media/megan_nolan.jpg" alt="Megan Nolan, singer and recording artist."
                class="testimonial-image z-depth-2 col s8">
            <div class="testimonial-text col s4">
                <div>
                    <p class="right-align remove-margin">"He writes, produces, mixes AND masters! What more could you
                        want."</p>
                    <p class="right-align remove-bottom-margin">- Megan Nolan</p>
                </div>
            </div>
        </div>
    </div>

    <div id="artist-testimonials-larger" class="testimonials-inner container hide-on-small-only show-on-medium-and-up">
        <div class="row">
            <h2 class="left-align">Artist Testimonials</h2>
        </div>

        <div class="row remove-bottom-margin">
            <div class="col s4">
                <img src="media/midoca.jpg" alt="Midoca, recording artist." class="z-depth-2 testimonial-image">
                <div class="testimonial-text">
                    <div>
                        <p class="center-align remove-margin">"Tom helped me develop a new sound for my project,
                            couldn't have done it without him!"</p>
                        <p class="center-align remove-bottom-margin">- Midoca</p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <img src="media/below_human.jpg" alt="Below Human, metalcore band." class="testimonial-image z-depth-2">
                <div class="testimonial-text">
                    <div>
                        <p class="center-align remove-margin">"Tom was able to write and programme drums for us in no
                            time. Highly Recommend. "</p>
                        <p class="center-align remove-bottom-margin">- Below Human</p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <img src="media/megan_nolan.jpg" alt="Megan Nolan, singer and recording artist."
                    class="testimonial-image z-depth-2">
                <div class="testimonial-text">
                    <div>
                        <p class="center-align remove-margin">"He writes, produces, mixes AND masters! What more could
                            you want."</p>
                        <p class="center-align remove-bottom-margin">- Megan Nolan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
