{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% if user.is_authenticated %}
        <h2>{% block title %} Profile {% endblock %}</h2>
        <p>Username: {{ user }}</p>
        <p>Email: {{ user.email }}</p>
        <h3>Submission History:</h3>
        {% for a in submissions %}
            <div class="profile-submission-display col s12">
                    <p>Submitted on: {{ a.date_booked }}</p>
                    <p>Your submitted files can be viewed <a href="{{ a.file_link }}" class="links">here</a>.</p>
                    <p>Your Message: {{ a.message }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Login to view your details.</p>
    {% endif %}
</div>

{% endblock %}